/* Estilo geral */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #91c5ff, #f9a8d4);
}

/* Tela de login */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-box {
  background-color: white;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  max-width: 400px;
  width: 100%;
}

.login-box h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 8px;
  color: #ff69b4;
  font-family: 'Segoe UI', sans-serif;
  letter-spacing: 1px;
}

.login-box h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 24px;
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input[type="text"], select {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 8px;
  font-size: 16px;
}

#manterLogado {
  margin-right: 5px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
}

/* Botão login destacado */
.login-btn {
  padding: 12px;
  background: linear-gradient(to right, #91c5ff, #f9a8d4);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.login-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}

/* Tela de início */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 30px 20px;
  background-color: #fff;
  text-align: center;
}

.home-title {
  font-family: 'Pacifico', cursive;
  font-size: 48px;
  color: #d63384;
  margin-bottom: 10px;
}

.home-slogan {
  font-size: 22px;
  color: #555;
  font-weight: bold;
  margin-bottom: 25px;
}

.mensagem-boas-vindas {
  font-size: 16px;
  color: #333;
  max-width: 700px;
  margin: 0 auto 30px auto;
  line-height: 1.6;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
}

.catalogo-btn-home {
  background-color: #fff;
  color: #d63384;
  border: 1px solid #000;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 40px;
  transition: background-color 0.3s;
}

.catalogo-btn-home:hover {
  background-color: #d63384;
  color: white;
}

.info-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.info-item {
  text-align: center;
  max-width: 180px;
}

.info-item img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}
